@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Auto Data</h1>
</div>

@Html.Hidden("make", ViewData["make"].ToString(), new { @class = "make" })

<div id="div_model_list"></div>

@section Scripts{
    <script src="~/js/Models/Index.cshtml.js"></script>
}

