@model HeaderViewModel
@*<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10" /><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" /></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/Members">Members</a>
        <a class="py-2 d-none d-md-inline-block" href="/Bills">Bills</a>
        <a class="py-2 d-none d-md-inline-block" href="/Votes">Votes</a>
        <a class="py-2 d-none d-md-inline-block" href="/Statements">Statements</a>
        <a class="py-2 d-none d-md-inline-block" href="/Committees">Committees</a>
        <a class="py-2 d-none d-md-inline-block" href="/Nominations">Nominations</a>
        <a class="py-2 d-none d-md-inline-block" href="/Lobbying">Lobbying</a>
        <a class="py-2 d-none d-md-inline-block" href="/Other">Other</a>
    </div>
</nav>*@

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" href="/">Capital Data</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="\">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Bills">Bills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Votes">Votes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Statements">Statements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Committees">Committees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Nominations">Nominations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Lobbying">Lobbying</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Other">Other</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="\">
                    Sign in
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="\">
                    Sign up
                </a>
            </li>
        </ul>
        <form id="form_search" class="form-inline my-2 my-lg-0 d-none">
            <input id="nav_search" class="form-control form-control-dark mr-sm-2" type="text" placeholder="Search" aria-label="Search" autocomplete="off">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
