

<div id="ph_bill_list" class="d-none">
    <span id="lbl_heading" class="h2 font-weight-light"></span>
    <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="div_bill_list"></div>

@section Scripts{
    <script src="~/js/Bills/Index.cshtml.js" asp-append-version="true"></script>
    <script>
        BillsIndexModule.init({
            chamber: '@ViewData["chamber"].ToString()'
        });
    </script>
}