@model FooterViewModel
    <footer class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-pills">
                        <h5>Features</h5>
                    </div>
                    <div class="card-footer">
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="/Makes/Index">View All Makes</a></li>
                        </ul>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="/DecodeVIN/Index">Decode VIN</a></li>
                        </ul>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="/VehicleVariables/Index">Vehicle Variables</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-pills">
                        <h5>Directories</h5>
                    </div>
                    <div class="card-footer">
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="/Home/Index">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-pills">
                        <h5>Information</h5>
                    </div>
                    <div class="card-footer">
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="https://vpic.nhtsa.dot.gov/api/">API</a></li>
                        </ul>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="https://github.com/dimalytvyn/theapiproject">GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                AutoData <small class="mb-3 text-muted">&copy; @DateTime.Now.Year</small>
            </div>
        </div>
    </footer>