@model FooterViewModel
    <footer class="container py-5">
        <div class="row">
            <div class="col-md-3">
                AutoData
                <small class="d-block mb-3 text-muted">&copy; @DateTime.Now.Year</small>
            </div>
            <div class="col-md-9">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/Makes/Index">Makes</a></li>
                </ul>
            </div>            
        </div>
    </footer>