@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 magic-vanishIn">Auto Data</h1>
    <p>Learn about <span class="text-primary">your vehicle</span>.</p>
</div>
